@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body {
    font-family: 'Press Start 2P', cursive;
    background: darkslategrey;
}

fieldset {
    border: solid 4px white;
    color: white;
    width: 300px;
    padding-bottom: 0;
    margin: 0 auto;
}

fieldset legend {
    padding: 0 10px;
}

fieldset ul {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    overflow: auto;
}

fieldset li {
    margin: 20px 0;
    min-width: 50%;
}

fieldset a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: solid 2px transparent;
}

fieldset a:hover, fieldset a:focus {
    border-bottom-color: white;
    outline: none;
}

#game-wrapper {
    width: 600px;
    margin: 0 auto;
}

canvas {
    cursor: none;
    background-image: url('../img/space.png');
    background-size: 600px 600px;
}